* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

section {
    display: flex;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    color: white;
    background-size: cover;
    background-position: center;
    text-align: center;
    flex: 1;
    padding: 1.25rem;
}

#img-contato {
    border: 0.0625rem solid gray;
    border-radius: 0.625rem;
    margin-right: 3.75rem;
    box-shadow: 0.125rem 0.125rem 0.125rem rgb(154, 10, 236);
}

form {
    flex: 1;
    padding: 1.25rem;
    border: 0.0625rem solid black;
    border-radius: 0.625rem;
    background-color: rgb(51, 117, 238);
    box-shadow: 0.125rem 0.125rem 0.125rem rgb(75, 5, 155);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.25rem;
}

label, input, textarea, button {
    display: block;
    margin-bottom: 0.625rem;
    background-color: rgb(232, 240, 248);
}

label {
    font-family: sans-serif;
    color: white;
    background-color: rgb(72, 127, 245);
}

button {
    background-color: #5826E6;
    color: white;
    padding: 0.625rem 1.25rem;
    border: none;
    cursor: pointer;
}

footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 0.0625rem solid rgb(243, 237, 237);
    background-color: rgb(29, 123, 211);
    padding: 0.625rem;
}

footer p {
    font-style: italic;
    font-size: 1.25rem;
}

@media screen and (max-width: 48rem) {
    section {
        flex-direction: column;
    }

    h1, form {
        width: 100%;
    }
}
