*{
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 2rem;
    font-family: cursive;
    text-align: center;
}

h2 {
    color: aliceblue;
}

article {
    width: 25rem;
    height: 18.75rem;
    display: inline-block;
    box-sizing: border-box;
    margin: 1rem;
}

article img {
    width: 20rem;
    border-radius: 1rem;
    box-shadow: 0.125rem 0.125rem 0.125rem rgb(5, 21, 92);
}

.serviços1, .serviços2, .serviços3 {
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    background-color: rgb(135, 191, 243);
    margin-left: 2.5rem;
}

.serviços1 {
    margin-top: 2rem;
}

.texto1, .texto2, .texto3 {
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    width: 18.75rem;
    background-color: rgb(135, 191, 243);
    margin-left: 2.5rem;
    margin-top: 2rem;
}
