*{
    font-family: 'Courier New', Courier, monospace;
  }

  main {
    display: flex;
}

section {
    display: flex;
    text-align: center;
}

#dogsobre {
    max-width: 400px;
    border-radius: 20px;
    margin: auto;
    box-shadow: 10px 10px 10px black;
    background-color: rgb(247, 201, 201);
    box-sizing: border-box;
    max-width: 40%;
    
}

.sobre {
    border: 1px solid #fff;
    border-radius: 10px;
    margin: auto;
    max-width: 50%;
    font-size: 20pt;
    
    
}

#text {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    font-style: italic;
}

#psobre {
   font-style: italic;
   margin-left: 35px;
   color: #fff;
}

#rodape {
    display: flex;
    align-items: center;
    padding-top: 100px;
    margin-top: 100px;
}
