*{
    font-family: 'Courier New', Courier, monospace;
  }
  
.sec {
    display: flex;
    width: 638px;
    height: 500px;
    flex-direction: column;
    color: #3B3B3B;
    font-family: Inter;
    font-size: 33.608px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.37px;
    background-color: rgb(136, 210, 245);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px rgb(12, 64, 236); 
}

.sec h1 {
    color: #FFF4E1;
    font-family: Inter;
    font-size: 41.254px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.454px;
    text-align: center;
}

.sec p {
    margin: 20px;
    text-align: center;
    font-size: 16pt;
}

img {
    border-radius: 40px;
    width: 90%;
    height: 80%;
}

.img {
    display: flex;
    float: right;
    margin-left: 100px;
   
}

footer {
    align-items: center;

}