<span id="menu-mobile-icon">
    <img src="./assets/img/paws.svg" alt="icone do menu mobile" />
</span>
<span id="close-menu-mobile-icon">
    <img  src="./assets/img/icon_xmark.svg" alt="icone do menu mobile" />
</span>

<nav>
    <ul id="menu_nav">
        <li><a href="./medicinaveterinaria.html">Medicina Veterinaria</a></li>
        <li><a href="./spa.html">Spa</a></li>
        <li id="nome">
            <a href="./index.html">
                <span lang="en">Dirty Paws</span>
                <span lang="en">Pet Care</span>
            </a>
        </li>
        <li><a href="./adocao.html">Ado&ccedil;&atilde;o</a></li>
        <li><a href="./orientacaocomportamental.html">Orienta&ccedil;&atilde;o Comportamental</a></li>
    </ul>
</nav>