* {
    color: #faff0e;
}

body {
    background-color: #7ec0cc;
    background-image: url("../img/bg_adocao.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 100vh;
}


main{
    padding: 5rem 3rem;
}

#resumo  {
    width: 50vw;
    text-align: center;
}

#resumo h1, #resumo h2 {
    margin-bottom: 2rem;
}

#resumo h2 {
    margin-top: 5rem;
}