@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Quicksand:wght@300;400;700&display=swap");

/************* RESET *************/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    overflow-x: hidden;

    font-family: "Quicksand", sans-serif;
    color: #0097b2;
}

.hiden {
    display: none;
}

.visible {
    display: block !important;
}

p {
    line-height: 2rem;
    margin-bottom: 1.5rem;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
