main {
  background-image: url("../img/bg_veterinaria.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100vw auto;
  min-height: 90vh;
}

#resumo {
  text-align: center;
  margin: 30vh auto 0;
}

#resumo h1 {
  margin-bottom: 2rem;
}

button {
  border: 0;
  font-size: 30px;
  background-color: transparent;
  cursor: pointer;
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 6px;
  border-radius: 5px;
}

button:hover {
  background-color: #49b3c5;
  color: white;
}

@media (min-width: 960px) {
  #resumo {
    width: 40vw;
    margin: 0 auto;
  }
}