#sobre-page {
  position: relative;
  background: url('../img/sobre-background.png') no-repeat center;
  background-size: cover;
  padding: 30px;
}

.paws {
  position: absolute;
  top: 40px;
  left: 30px;
  width: 120px;
  opacity: 0.3;
  z-index: 0;
}

#sobre {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: 500;
}

.text {
  margin-top: 20px;
  font-size: 20px;
}

.team {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.team-title,
.support-title {
  font-size: 20px;
  font-weight: 400;
}

.team-container {
  max-width: 500px;
  width: 100%;
  margin: auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.team-member {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.team-member img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.support {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-container {
  display: flex;
  gap: 20px;
}

.support ul img {
  max-width: 100px;
  width: 100%;
  margin-top: 12px;
}

@media (max-width: 768px) {
  .team-container,
  .support-container {
    flex-direction: column;
  }
}
