header {
  position: absolute;
  top: 0;
  width: 100vw;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

#spa-page {
  position: relative;
}

#spa-page #logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

#spa-page #logo a span {
  color: #000;
}

.services {
  display: flex;
  height: 100vh;
}

.service-container {
  max-width: 33.3%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.service-container.higiene {
  background: url("../img/spa-higiene.jpg") no-repeat center;
  background-size: cover;
}

.service-container.spa {
  background: url("../img/spa-spa.jpg") no-repeat center;
  background-size: cover;
}

.service-container.estetica {
  background: url("../img/spa-estetica.jpg") no-repeat center;
  background-size: cover;
}

.text-service {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.service-title {
  margin: auto 30px 50px;
  font-size: 50px;
  color: #000;
  font-weight: 500;
}

.service-text {
  display: none;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  margin: auto 20px 0;
}

.service-container:hover .text-service {
  flex-direction: column-reverse;
}

.service-container:hover .service-title {
  margin-top: 30px;
}

.service-container:hover .service-text {
  display: block;
}

@media (max-width: 768px) {
  .services {
    flex-direction: column;
  }

  .services {
    min-height: 100vh;
  }

  .service-container {
    min-height: 80vh;
    max-width: none;
  }

  .service-text {
    display: block;
  }

  .service-title {
    margin-top: 30px;
  }
}
