*{
    font-family: 'Courier New', Courier, monospace;
  }
  
.sec {
    display: flex;
    width: 638px;
    height: 500px;
    flex-direction: column;
    color: #3B3B3B;
    font-family: Inter;
    font-size: 33.608px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.37px;
    background-color: rgb(136, 210, 245);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px rgb(12, 64, 236); 
}

.sec h1 {
    color: #FFF4E1;
    font-family: Inter;
    font-size: 41.254px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.454px;
    text-align: center;
}

.sec p {
    margin: 20px;
    text-align: center;
    font-size: 16pt;
}

img {
    border-radius: 40px;
    width: 90%;
    height: 80%;
}

.img {
    display: flex;
    float: right;
    margin-left: 100px;
   
}

footer {
    align-items: center;
    font-size: 20px;

}



/* Responsividade */
@media (max-width: 768px) {
    .sec {
        width: 90%; /* Ocupa 90% da largura da tela */
        font-size: 16px; /* Ajuste o tamanho da fonte */
        text-align: center; /* Centraliza o texto */
    }

    .sec h1 {
        font-size: 24px; /* Ajuste o tamanho do título */
    }

    .img {
        text-align: center;
        margin-top: 20px;
    }

    .img img {
        max-width: 100%; /* Ajusta a largura máxima da imagem */
        height: auto; /* Mantém a proporção da imagem */
    }

    footer {
        text-align: center;
        padding: 10px;
        font-size: 14px; /* Ajuste o tamanho da fonte */
    }
}



/* Adicionando um novo estilo para o menu responsivo */
@media (max-width: 768px) {
    .nav {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
    
    .nav.show {
        display: flex;
    }
    
    .nav a {
        margin: 10px;
    }
  }